<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esl.indiaguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndiaGuide">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity2"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity3"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity4"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity5"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity6"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity7"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity8"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity9"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity10"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity11"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity12"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity13"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity14"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity15"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity16"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity17"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity18"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity19"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity20"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity21"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity22"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity23"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity24"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity25"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity26"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity27"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity28"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity29"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity30"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity31"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity32"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity33"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity34"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity35"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity36"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity37"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity38"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity39"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity40"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity41"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity42"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity43"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity44"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity45"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity46"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity47"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity48"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity49"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity50"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity51"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity52"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity53"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity54"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity55"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity56"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity57"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity58"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity59"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity60"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity61"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity62"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity63"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity64"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity65"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity66"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity67"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity68"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity69"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity70"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity71"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity72"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity73"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity74"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity75"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity76"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity77"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity78"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity79"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity80"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity81"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity82"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity83"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity84"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity85"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity86"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity87"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity88"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity89"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity90"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity91"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity92"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity93"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity94"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity95"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity96"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity97"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity98"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity99"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity100"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity101"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity102"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity103"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity104"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity105"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity106"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity107"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity108"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity109"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity110"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity111"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity112"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity113"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity114"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity115"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity116"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity117"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity118"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity119"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity120"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity121"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity122"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity123"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity124"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity125"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity126"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity127"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity128"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity129"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity130"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity131"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity132"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity133"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity134"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity135"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity136"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity137"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity138"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity139"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity140"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity141"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity142"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity143"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity144"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity145"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity146"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity147"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity148"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity149"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity150"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity151"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity152"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity153"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity154"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity155"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity156"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity157"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity158"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity159"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity160"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity161"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity162"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity163"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity164"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity165"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity166"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity167"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity168"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity169"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity170"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity171"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity172"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity173"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity174"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity175"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity176"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity177"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity178"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity179"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity180"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity181"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity182"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity183"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity184"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity185"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity186"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity187"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity188"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity189"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity190"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity191"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity192"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity193"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity194"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity195"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity196"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity197"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity198"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity199"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity200"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity201"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity202"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity203"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity204"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity205"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity206"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity207"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity208"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity209"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity210"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity211"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity212"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity213"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity214"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity215"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity216"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity217"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity218"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity219"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity220"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity221"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity222"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity223"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity224"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity225"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity226"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity227"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity228"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity229"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity230"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity231"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity232"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity233"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity234"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity235"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity236"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity237"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity238"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity239"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity240"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity241"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity242"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity243"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity244"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity245"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity246"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity247"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity248"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity249"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity250"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity251"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity252"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity253"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity254"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity255"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity256"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity257"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity258"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity259"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity260"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity261"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity262"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity263"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity264"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity265"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity266"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity267"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity268"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity269"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity270"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity271"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity272"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity273"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity274"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity275"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity276"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity277"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity278"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity279"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity280"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity281"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity282"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity283"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity284"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity285"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity286"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity287"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity288"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity289"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity290"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity291"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity292"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity293"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity294"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity295"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity296"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity297"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity298"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity299"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity300"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity301"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity302"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity303"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity304"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity305"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity306"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity307"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity308"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity309"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity310"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity311"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity312"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity313"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity314"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity315"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity316"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity317"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity318"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity319"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity320"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity321"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity322"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity323"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity324"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activity325"
            android:exported="true">
        </activity>
    </application>

</manifest>